# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# VSCode / PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database locali
*.sqlite3
*.db

# File di configurazione sensibili
.env
.env.*

# Build / dist
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# PyInstaller
*.spec

# Environment Variables
.env
.env.*
# But the axample
! .env.example
