services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: integration-hub-app
    restart: always

    ports:
      - "8090:8000"
    env_file:
      - .env
    networks:
      - db_network
    logging:
      driver: "json-file"
      options: 
        max-size: "10m"
        max-file: "3"

networks:
  db_network:
    external: true
    name: primo_progetto_default