services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: integration-hub-app
    profiles: ["hub-app"]
    restart: always
    environment:
      - PYTHONUNBUFFERED=1
    privileged: true
    volumes:
      - .:/app
      - /sys/:/sys:ro
    ports:
      - "8090:8000"
    env_file:
      - .env
    networks:
      - shared_network
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload --reload-dir app
    logging:
      driver: "json-file"
      options: 
        max-size: "10m"
        max-file: "3"

networks:
  shared_network:
    external: true