services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: integration-hub-app
    profiles: ["hub-app"]
    restart: always
    volumes:
      - .:/app
    ports:
      - "8090:8000"
    env_file:
      - .env
    networks:
      - shared_network
    logging:
      driver: "json-file"
      options: 
        max-size: "10m"
        max-file: "3"

networks:
  shared_network:
    external: true