fastapi
uvicorn
sqlalchemy[asyncio]
aiomysql
httpx
python-dotenv
pydantic
pydantic-settings
pydantic[email]
apscheduler
jinja2
psutil==5.9.8
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart